@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css');

@layer components {
  .bio-background {
    @apply bg-[#14273E] h-screen md:w-[32rem] md:h-[85%] lg:h-[80%] tall:h-screen shadow-2xl shadow-[#EFEFF6]/50 md:rounded-xl;
  }
  .bio-logo {
    @apply opacity-10 py-12 h-full flex items-center lg:items-end ;
  }
  .bio-page {
    @apply w-screen px-6 pt-16 pb-14 font-semibold flex flex-col justify-start items-center text-center;
  }
  .button {
    @apply flex flex-row items-center justify-center text-center font-medium w-full h-12 p-3 rounded-xl bg-gradient-to-tr text-[#040c15] from-[#7CB8FC] to-[#3E6BB5] hover:ring-4 transition duration-300 ease-out mb-6 shadow-lg shadow-[#3E6BB5]/40;
  }
  .bio-main-layout {
    @apply overflow-y-auto h-[60%] p-1 w-full md:w-5/6 lg:w-4/6 flex flex-col;
  }
}

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
  display: none ;
}

body {
  background-color: #14273E;
  color: #EFEFF6;
}
