@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css');

@layer components {
  .bio-background {
    @apply bg-[#14273E] h-screen md:w-[32rem] md:h-[85%] lg:h-[80%] tall:h-screen shadow-2xl shadow-[#EFEFF6]/50 md:rounded-xl;
  }
  .bio-logo {
    @apply opacity-10 py-12 h-full flex items-center lg:items-end ;
  }
  .bio-page {
    @apply w-screen px-6 pt-16 pb-14 font-semibold flex flex-col justify-start items-center text-center;
  }
  .bio-main-layout {
    @apply overflow-y-auto h-[60%] p-1 w-full md:w-5/6 lg:w-4/6 flex flex-col;
  }
  .button {
    @apply flex flex-row items-center justify-center text-center font-medium w-full h-12 p-3 rounded-xl bg-gradient-to-tr text-[#040c15] from-[#7CB8FC] to-[#3E6BB5] hover:ring-4 transition ease-out mb-6 shadow-lg shadow-[#3E6BB5]/40;
  }
  .button-resume {
    @apply border-2 border-[#7CB8FC] text-[#7CB8FC] rounded-lg text-lg py-4 px-8 lg:py-2 lg:px-4 lg:text-sm font-mono hover:bg-[#3E6BB5]/20 transition transition-ease-out;
  }
  .main-header {
    @apply z-50 fixed flex justify-center items-center px-6 md:px-12 h-24 w-full;
  }
  .main-layout {
    @apply flex flex-col items-center justify-center h-screen gap-4 p-6;
  }
  .main-footer {
    @apply flex flex-col justify-center items-center p-4;
  }
  .navbar {
    @apply flex items-center justify-between w-full h-10 font-mono;
  }
  .navbar-logo {
    @apply w-12 h-12 rounded-full bg-gradient-to-tr from-[#7CB8FC] to-[#3E6BB5] flex items-center;
  }
  .navbar-side {
    @apply relative opacity-100 translate-x-0 h-full inline-flex flex-row space-x-10 text-sm space-y-0 py-0 items-center justify-end;
  }
  .navbar-side-active {
    @apply flex flex-col justify-center items-center space-y-10 transition ease-out h-screen bg-[#14273E] fixed right-0 top-0 py-10 w-3/4 md:w-2/4 -translate-x-0 text-lg shadow-[-10px_0px_25px_-15px_#3E6BB5];
  }
  .navbar-side-close {
    @apply flex flex-col justify-center items-center space-y-10 ease-out h-screen bg-[#14273E] fixed right-0 top-0 py-10 w-full translate-x-full text-lg ;
  }
  .blur-effect {
    @apply w-screen h-screen backdrop-blur-sm absolute inset-0 bg-[#0a162c]/70 transition-all ease-linear;
  }
  .icon-transition {
    @apply transition duration-300 ease-out opacity-0;
  }
  .transition-ease-out {
    @apply ease-out;
  }
}

* {
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
  display: none ;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #14273E;
  color: #EFEFF6;
}
