@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css");

@layer components {
  .bio-background {
    @apply h-screen bg-[#14273E] shadow-2xl shadow-[#EFEFF6]/50 md:h-[85%] md:w-[32rem] md:rounded-xl lg:h-[80%] tall:h-screen;
  }
  .bio-logo {
    @apply flex h-full items-center py-12 opacity-10 lg:items-end;
  }
  .bio-page {
    @apply flex w-screen flex-col items-center justify-start px-6 pt-16 pb-14 text-center font-semibold;
  }
  .bio-main-layout {
    @apply flex h-[60%] w-full flex-col overflow-y-auto p-1 md:w-5/6 lg:w-4/6;
  }
  .button {
    @apply mb-6 flex h-12 w-full flex-row items-center justify-center rounded-xl bg-gradient-to-tr from-[#7CB8FC] to-[#3E6BB5] p-3 text-center font-medium text-[#040c15] shadow-lg shadow-[#3E6BB5]/40 transition ease-out hover:ring-4;
  }
  .button-resume {
    @apply rounded-lg border-2 border-[#7CB8FC] py-4 px-8 font-mono text-lg text-[#7CB8FC] transition hover:bg-[#3E6BB5]/20 lg:py-2 lg:px-4 lg:text-sm;
  }
  .main-header {
    @apply fixed z-50 flex h-24 w-full items-center justify-center px-6 md:px-12;
  }
  .main-layout {
    @apply flex h-screen flex-col items-center justify-center gap-4 p-6 lg:pl-24;
  }
  .main-footer {
    @apply flex flex-col items-center justify-center p-4;
  }
  .navbar {
    @apply flex h-10 w-full items-center justify-between font-mono;
  }
  .navbar-logo {
    @apply flex h-12 w-12 items-center rounded-full bg-gradient-to-tr from-[#7CB8FC] to-[#3E6BB5];
  }
  .navbar-side {
    @apply fixed right-0 top-0 flex h-screen w-3/4 -translate-x-0 transform transform-gpu flex-col items-center justify-center space-y-10 bg-[#14273E] py-10 text-lg shadow-[-10px_0px_25px_-15px_#3E6BB5] transition duration-300 ease-in-out md:w-2/4;
  }
  .navbar-side-lg {
    @apply inline-flex flex-row items-center justify-end space-x-10 py-0 text-sm shadow-none;
  }
  .blur-effect {
    @apply absolute inset-0 h-screen w-screen bg-[#0a162c]/70 backdrop-blur-sm transition ease-linear;
  }
  .icon-transition {
    @apply absolute right-0 transform transition duration-300 ease-in-out;
  }
}

* {
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #14273e;
  color: #efeff6;
}

nav[data-active="true"] {
  box-shadow: 0 10px 15px rgba(152, 168, 188, 0.2);
  background-color: #d7e5e9;
  padding-top: 20px;
  top: 0;
  transition: all 0.4s ease;
}

nav[data-active="false"] {
  transition: all 0.4s ease;
}

.links a[data-active="true"] {
  color: #001b2e;
}
